<div class="chapter-view" ng-controller="chapterCtrl">
    <div class="col-lg-10 col-lg-push-1">
        <div class="card">
            <div class="chapHeader h2"><i class="fa fa-book"></i> Android Programming
                <a class="logout" href="#login"><i class="fa fa-sign-out"></i></a>
                <a class="backbtn" href="#panel"><i class="fa fa-arrow-left"></i> Back</a>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-lg-push-1">
        <div class="card">
            <div class="h1 indexTitle">Index</div>
            <div ng-repeat="chapter in chapters">
                <hr>
                <div class="chapterName" ng-click="setCid($index)"><i class="fa fa-chevron-circle-right"></i> {{chapter.ChapterName}}</div>
            </div>
        </div>
    </div>

    <div class="col-lg-7 col-lg-push-1">
        <div class="card">
            <div class="chapTitle h2">
                <div ng-show="isViewEnabled">{{chapters[cid].ChapterName}}</div>
                <div ng-hide="isViewEnabled"><input type="text" placeholder="{{chapters[cid].ChapterName}}" ng-model="chapters[cid].ChapterName"></div>
            </div>
        </div>
    </div>


    <div class="col-lg-7 col-lg-push-1">
        <button class="editfab"><i class="fa {{isViewEnabled ? 'fa-pencil' : 'fa-floppy-o'}}" ng-click="toggleEditView()"></i></button>
        <div class="card">
            <div class="chapDesc h4" ng-show="isViewEnabled">{{chapters[cid].Description}}</div>

            <div class="chapDesc h4" ng-hide="isViewEnabled">
                <textarea id="textarea" ng-model="chapters[cid].Description">{{chapters[cid].Description}}</textarea>
            </div>

        </div>
    </div>

    <div class="col-lg-10 col-lg-push-1">
        <div class="card">
            <div class="link" ng-show="isViewEnabled"><i class="fa fa-youtube-square"></i> <a
                    href="{{chapters[cid].FileContent}}"
                    target="_new">{{chapters[cid].FileContent}}</a>
            </div>

            <div style="display: flex" ng-hide="isViewEnabled">
                <input type="text" placeholder="URL" ng-model="chapters[cid].FileContent"/> &nbsp;
                <select name="" id="" ng-model="chapters[cid].FileType">
                    <option disabled selected>Type</option>
                    <option value="youtube">Youtube</option>
                    <option value="pdf">PDF</option>
                </select>
            </div>
        </div>
    </div>

</div>


