@using Pentagon.Models

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <h1>Done</h1>

    @if (Model == null)
    {
        <h1>User not exist</h1>
    }
    else
    {
        <h1>Welcome @Model.UserName your userId : @Model.UserID</h1>


    }
</body>
</html>