
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TutorialApp</title>
</head>
<body>
   Enter Your username: <input type="text" id="usernmae" /><br/>
    Enter your password: <input type="text" id="password" /><br/>
    <button onclick="">Login</button>
</body>
</html>


